* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.25rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  /*   &::after {
    content: "";
    background-image: url(./design/mobile-design.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-position: center;
    opacity: 0.3;
    pointer-events: none;
  } */
}

.container {
  width: 68.75rem;
  margin: auto;
  text-align: center;
}

.content__wrapper {
  padding-top: 2.75rem;
}

.logo {
  padding-top: 4.0625rem;
}

.page__title {
  color: #969696;
  font-weight: 300;
  font-size: 2.4em;
}

.page__title--black {
  color: #151f29;
  font-weight: 700;
}

.page__subtitle {
  font-weight: 300;
  color: #151f29;
  font-size: 1em;
  margin-top: 1.125rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5rem;
}

.form__wrapper {
  position: relative;
}

.form__input {
  border: 0.0625rem solid #c2d3ff;
  width: 26.25rem;
  height: 3.4375rem;
  border-radius: 1.875rem;
  margin-right: 0.9375rem;
  outline: none;
  padding: 0 1.5625rem;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.error__msg {
  display: none;
  position: absolute;
  position: absolute;
  left: 1.6875rem;
  bottom: -1.4375rem;
  font-size: 0.65em;
  font-style: italic;
  color: #ff5263;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.error {
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.error .form__input {
  border: 0.0625rem solid #ff5263;
}

.error .error__msg {
  display: block;
}

.form__btn {
  background-color: #4f7df3;
  border: 0;
  color: white;
  width: 12.5rem;
  height: 3.4375rem;
  border-radius: 1.875rem;
  font-weight: 600;
  font-size: 0.85em;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.form__btn:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
  cursor: pointer;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.ilustration {
  margin-top: 5.3125rem;
}

.ilustration__img {
  width: 40rem;
}

.socials {
  margin-bottom: 1.375rem;
}

.footer {
  position: absolute;
  bottom: 0;
}

.socials__item {
  border: 0.0625rem solid #c2d3ff;
  margin: 0 0.25rem;
  /* transform: scale(1.5); */
  border-radius: 50%;
  padding: 0.1875rem 0.3125rem;
  color: #4f7df3;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.socials__item::before {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.socials__item:hover {
  cursor: pointer;
  color: white;
  background-color: #4f7df3;
  border: 0.0625rem solid #4f7df3;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.copy {
  font-size: 0.6em;
}

#toast {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #4bb543;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 15%;
  /* Center the snackbar */
  bottom: 50px;
  /* 30px from the bottom */
  font-size: 0.8em;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-bottom: 0.625rem;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 64rem) {
  main {
    padding-bottom: 3.75rem;
  }
  .footer {
    position: relative;
  }
}

@media screen and (max-width: 50rem) {
  .container {
    width: 100%;
  }
  #toast {
    left: 20%;
  }
}

@media screen and (max-width: 37.5rem) {
  .container {
    padding: 0 3.25rem;
  }
  .logo {
    padding-top: 2rem;
  }
  .logo svg {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .content__wrapper {
    padding-top: 2.1875rem;
  }
  .page__title {
    font-size: 1.26em;
  }
  .page__subtitle {
    font-size: 0.69em;
    margin-top: 1.3125rem;
  }
  .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2.3125rem;
  }
  .form__btn,
  .form__input,
  .form__wrapper {
    width: 100%;
    height: 2.8125rem;
  }
  .form__wrapper {
    margin-bottom: 0.6875rem;
  }
  .error .form__wrapper {
    margin-bottom: 1.875rem;
  }
  .ilustration__img {
    width: 100%;
  }
  .footer {
    padding-top: 9.375rem;
  }
  #toast {
    left: 50%;
  }
}
/*# sourceMappingURL=style.css.map */